# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/sonarlint/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/build
/out
*.db